h1 {
    color: darkslategrey;
    font-size: 28px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    color: darkslategrey;
}
h4 {
    color: darkgreen;
}
p {
    color: darkslategray;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#first-item {
    border-top: solid grey;
}

li {
    color: orangered;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: darkslategrey;
    font-size: 14px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.veggie {
    color: green;
}

.carni {
    color: darkred;
}

.menuSection {
    color: darkslategrey;
}